<footer>
    <hr class="soften" />
    <nav>
        <ul class="nav nav-pills nav-stacked">
          <li><a title="The full list of posts, back to 2004 or so..." href="/archive/">Archive</a></li>
          <li><a title="Check out what's featured on the front page today" href="/">Front Page</a></li>
          <!--<li><a href="#">Projects</a></li>-->
          <!--<li><a href="#">Guides</a></li>-->
          <!--<li><a href="#">Demos</a></li>-->
        </ul>
    </nav>
    <hr class="soften" />
    <p class="copyright copyleft">
    &copy; <a href="/" title="Phillip Smith - Digital publishing consultant, online advocacy specialist, and strategic convener.">Phillip Smith</a> 2016<span class="pipe">&nbsp;|&nbsp;</span>Digital publishing consultant, online advocacy specialist, and strategic convener.
    </p>
</footer>

