<footer>
    <hr class="soften" />
    <nav>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/archive/">Archive</a></li>
          <!--<li><a href="#">Projects</a></li>-->
          <!--<li><a href="#">Guides</a></li>-->
          <!--<li><a href="#">Demos</a></li>-->
        </ul>
    </nav>
    <hr class="soften" />
    <p class="copyright copyleft">
    &copy; <a href="/" title="Phillip Smith - Pushing bits since '96">Phillip Smith</a> 2014<span class="pipe">&nbsp;|&nbsp;</span>A veteran digital publishing consultant, online advocacy specialist, and strategic convener.
    </p>
</footer>

