            <div itemscope="social" class="social">
                <span class="email" itemprop="email"><a href="https://mailhide.io/e/zi7nJ">E-mail</a></span><span class="pipe">&nbsp;|&nbsp;</span>
                <span class="twitter" itemprop="twitter"><a href="http://twitter.com/phillipadsmith">Twitter</a></span><span class="pipe">&nbsp;|&nbsp;</span>
                <span class="github" itemprop="github"><a href="https://github.com/phillipadsmith">Github</a></span><span class="pipe">&nbsp;|&nbsp;</span>
                <span class="pgp" itemprop="pgp"><a href="http://pgp.mit.edu:11371/pks/lookup?search=ps%40phillipadsmith.com&op=index">PGP</a></span><span class="pipe">&nbsp;|&nbsp;</span>
                <span class="muckrack" itemprop="muckrack"><a href="http://muckrack.com/phillipadsmith">MuckRack</a></span><span class="pipe">&nbsp;|&nbsp;</span>
                <span class="linkedin" itemprop="linkedin"><a href="http://ca.linkedin.com/in/phillipadsmith">LinkedIn</a></span>&nbsp;|&nbsp;</span>
                <span class="googleplus"><a href="https://plus.google.com/u/0/+PhillipSmithGPLUS?rel=author">Google</a></span>
            </div>
