            <!-- _includes/module_comments -->
            <section class="comments">
                <div class="text-center toggle-comments">
                    <div href="#" class="btn btn-sm btn-default" role="button" data-toggle="collapse" data-target="#comments">
                        <a id="comment-toggle" class="disqus-comment-count" href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">No comments yet</a>
                    </div>
                </div>
                <div id="comments" class="collapse in">
                <div id="disqus_thread"></div>
                <script>
                var disqus_config = function () {
                    this.page.url = '{{ site.url }}{{ page.url }}'; // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = '{{ page.id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    this.page.title = 'a unique title for each page where Disqus is present';
                    
                };
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//phillipadsmith.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </section>
            <!-- /_includes/module_comments -->
