          <header class="module avatar-plus-bio-short">
            <div class="avatar">
                <a href="/about/" title="{{ site.author}}: {{ site.description }}"><img src="/ui/img/phillipadsmith-100x100.jpg" class="img-circle" alt="{{ site.author }}" /></a>
            </div>
            <div class="bio short">
                <p><a href="/consulting/">Consulting</a>, <a href="/convening/">convening</a>, <a href="/coding/">coding</a>, <a href="/covering/">covering new ground</a>, plus occasional <a href="/commentary/">commentary</a>.</p>
            </div>
          </header>
