            <!-- _includes/module_comments -->
            <section class="comments">
                <div class="text-center toggle-comments">
                    <div href="#" class="btn btn-sm btn-default" role="button" data-toggle="collapse" data-target="#comments">
                        <a id="comment-toggle" href="{{ page.url }}#disqus_thread">No comments yet</a>
                    </div>
                </div>
                <div id="comments" class="collapse in">
                    <div id="disqus_thread"></div>
                </div>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </section>
            <!-- /_includes/module_comments -->
