---
layout: default
title: 'Veteran digital publishing consultant, online advocacy specialist, and strategic convener'
body:
- page
- about
---
{% include module_avatar_plus_bio_short.html %}

<article  itemscope itemtype="http://schema.org/Person">
<div class="container">
    <div class="section">
        <header>
        <hgroup>
        <h6>About</h6>
        <h1>Phillip Smith</h1>
        <h2 class="dek">Veteran digital publishing consultant, online advocacy specialist, and strategic convener.</h2>
        </hgroup>
        </header>
        <p class="lead">For almost two decades I have provided expert advice and hands-on help to innovative and progressive organizations around the globe.</p>
        <p>My current focus is the field of "news innovation": the rapidly changing technologies and ideas that are shaping how users interact with journalism online.</p>
        <p>After news innovation, generally speaking, my passions, personal projects, and client work fall into one of the following categories:</a>
        <h4 id="consulting">Digital publishing</h4>
        <p>My earliest foray into working with publishers was in 2000, when I signed on to be the photo editor and Web manager for what is now Toronto's general-interest literary magazine of record, <a href="http://www.taddlecreekmag.com/"><i>Taddle Creek</i></a>. Over the next seven years, <i>Taddle Creek</i> was a platform for experimentation: taking a magazine to the Web, to e-readers (in 2001!) and &mdash; most importantly &mdash; to people.</p>
        <p>Since then my experience in digital publishing has grown to include daily online news operations, weekly & monthly news magazines, and forward-thinking book publishers, for example High Country News, Global News, Grist.org, Mother Jones, New Internationalist, OR Books, Rabble, and the award-winning daily online news site, The Tyee.</p>
        <p>In 2010, I successfully shepherded the Knight-Mozilla News Technology Partnership (now <a href="http://opennews.org/">OpenNews</a>) into existence. The partnership started out as a $2.5M, three-year, program to support open-Web innovation in news organizations. The first year's partner news organizations included Al Jazeera English, BBC, Boston Globe, Guardian UK, and Zeit Online. In addition to getting the program started, I personally developed and delivered a series of "learning labs" for participants and produced the "Open Journalism on the Open Web" online learning series with support from the Knight Foundation, Mozilla, Medill, The Media Consortium, and Hacks/Hackers. The program continues to this day in a greatly expanded form, and as a pillar of the Mozilla Foundation's current work.</p>
        <p>Over the years, I've also presented, delivered training & workshops, and produced material for professional publishing associations in Canada, the U.S., and the U.K., including Magazines Canada and the Association of Online Publishers.
        <h4 id="advocacy">Online advocacy</h4>
        <p>As an overactive volunteer with a politically progressive take on the world, I was always anxious to find ways to bring more of that feel-good ethos into my day-to-day work. In 1999, shortly after co-founding a full-service interactive and new media studio with a friend, I turned my attention to finding non-profit clients, and went on to lead engagements for Y.W.C.A., the University of Toronto, and the Union of Concerned Scientists.</p>
        <p>In 2003, I went out on my own, wanting to invest 100 per cent of my time into progressive non-profit organizations and advocacy projects. Since then, I've developed software and consulted on online fundraising & advocacy campaigns for a number of leading-edge social-change organizations, including Amnesty International, Greenpeace, International Freedom of Expression Exchange, Make Poverty History, and the National Peace Corps Association.
        <!--<p>Geek End, Mary An American</p>-->
        <p>I've also planned, produced, and delivered workshops to leaders of the northwest environmental movement, student organizers at MIT, and campaigners in Canada's national capital that share some of my experiences supporting online campaigns for the Billionaires for Bush, Greenpeace's "Kleercut" campaign, and Ralph Nader's presidential campaign in 2008.</p>
        <h4 id="convening">Strategic convening</h4>
        <p>In the few moments when I'm not <a href="#consulting">working directly with geniuses at innovative independent publishers</a>, or <a href="#advocacy">battle-hardened activists at the world's leading advocacy organizations</a>, you'll often find me trying to bring smart, creative, and passionate people together to see what happens.</p>
        <p>In 2010, after years of trying to convince veteran activist and creative troublemaker, Andrew Boyd, to start re-writing <i>The Activist Cookbook</i>, all that seemed to be missing was an editor. I reached out to a long-time friend and editor, David Mitchell, and put the two together, and a few weeks later <i>Beautiful Trouble</i> was set in motion. What started as a small project to update a classic text for the digital age has turned into the de-facto encyclopedia of creative activism, written entirely online, by a distributed group of more than fifty contributors. A few short years later, the project continues to grow, now with a "pocket edition," several translations, an experimental data visualization, and a global network of creative activism trainers.</p>
        <p>*That* is what I mean when I say strategic convening!</p>
        <p>Prior to <i>Beautiful Trouble</i>, I helped to kick start numerous community-powered groups, like Wireless Toronto, Awesome Foundation Toronto, and Hacks/Hackers Toronto.</p>
        <p>I've also worked on numerous event facilitation & convening teams to explore the intersection of social change and technology, including Social Tech Training (2008), Web of Change (2004–2007), Copy Camp (2006), and Penguin Day Toronto (2004).</p>
        <h4 id="presentations">Presentations & Published Work</h4>
        <p>Last but not least, though I am far from an academic, I have on occasion participated as a researcher and writer for papers on non-profit technology for the Canadian Ministry of Citizenship, the Canadian Magazine Publishers Association, the University of California’s Institute of Non-profit Management, and the University of Texas.</p>
        <p>In a similar vein, I've presented on such topics to organizations including the Association of Fundraising Professionals' annual congress, the Maytree Foundation’s Building Strong Communities conference, the Canada Millennium Scholarship Foundation’s Think Again conference, Magazines Canada’s MagNet conference, Masthead magazine’s Magazines University conference, and M.I.T.’s conference on Human Rights and Technology.</p>
        <p>If you’ve read this far, perhaps you should drop me a line? I’m always interested in hearing about opportunities to change the world.</p>
        <p>&mdash;Phillip Smith, January 2014</p>
        <h4 id="contact">Get in touch</h4>
        <div itemtype="http://microformats.org/profile/hcard" itemscope="">
            {% include links_social.html %}
            <br />
            <div itemscope="" itemprop="n">
                <span itemprop="given-name">Phillip</span>
                <span itemprop="family-name">Smith</span>
            </div>
            <!--<div itemscope="" itemprop="adr">-->
                <!--<span itemprop="street-address">530 Adelaide Street West</span>-->
                <!--<br>-->
                <!--<span itemprop="extended-address">Suite 6117</span>-->
                <!--<br>-->
                <!--<span itemprop="locality">Toronto</span>, -->
                <!--<span itemprop="region">Ontario</span>-->
                <!--<br>-->
                <!--<span itemprop="country-name">Canada</span>, -->
                <!--<span itemprop="postal-code">M5V 1T5</span>-->
            <!--</div>-->
            <div itemscope="" itemprop="tel">
                <span itemprop="value">+1 (647) 361-8248</span>
            </div>
            <div itemscope="" itemprop="tel">
                <span itemprop="value">+1 (888) 418-1868</span>
            </div>
            <a itemprop="url" href="http://www.phillipadsmith.com">www.phillipadsmith.com</a>
        </div>
        </div> <!-- /.section -->
    </div> <!-- /.container -->
</article>
