---
layout: archive 
---
{% include module_avatar_plus_bio_short.html %}
<div class="container category-archive ">
    <div class="section">
{% for category in site.data.categories %}
    {% if category.name == page.title %}
    <header>
        <hgroup>
            <h1 class="title">{{ category.heading }}</h1>
            <h2 class="dek">{{ category.dek }}</h2>
        </hgroup>
        <p>{{ category.desc }}</p>
    </header>
    {% endif %}
{% endfor %}

<ul class="posts">
  {% for post in page.posts %}
    <li>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

    <p><i>Psst!</i> I've recently re-launched this site and lots of content is not filed yet. You may want to check the <a href="/archive">archive</a>.</p>
    </div> <!-- /.section -->
</div> <!-- /.container -->
